<div class="container" style=" margin-top:100px auto">

  <div class="card bg-dark" style="width: 28rem; margin:10rem auto;">

    <div class="card-body">

      <h3 class="text-primary text-center my-2">Password generator</h3>

      <div class="input-group flex-nowrap my-2">

        <!-- <span class="input-group-text" id="addon-wrapping">$</span> -->

        <input type="text" class="form-control my-2" placeholder="Enter length" aria-label="Enter length"
          aria-describedby="addon-wrapping" #vada (keyup)="getLength(vada.value)">

      </div>

      <div class="container-fluid" style="color: whitesmoke;">

        <div class="form-check ">

          <input class="form-check-input" type="checkbox" value="" id="infy" (change)="includeNumber()">

          <label class="form-check-label" for="infy">

            Include character

          </label>

        </div>

        <div class="form-check">

          <input class="form-check-input" type="checkbox" value="" id="insy" (change)="includeChar()">

          <label class="form-check-label" for="insy">

            Include number

          </label>

        </div>

        <div class="form-check">

          <input class="form-check-input" type="checkbox" value="" id="inty" (change)="includeSymbol()">

          <label class="form-check-label" for="inty">

            Include symbol

          </label>

        </div>

      </div>

    </div>

    <input class="btn btn-primary mb-3" style="margin: 10px;;" type="submit" value="Submit" (click)="genPass()">

    <!-- <div>
 
    {{generatePass}}
 
   </div> -->

    <div class="container" *ngIf="generatePass" style="margin: auto; margin-bottom: 10px;">

      <input type="text" class="form-control" placeholder="Generate Pass" aria-label="Enter length"
        aria-describedby="addon-wrapping" value="{{generatePass}}">

    </div>

  </div>

</div>